# {{APP_NAME}} Configuration
luma:
  bus: 7
  address: 0x3C  # OLED I2C address

display:
  width: 128
  height: 32
  rotate: 0

app:
  app_name: {{APP_NAME}}
  log_level: INFO
  log_dir: {{LOG_DIR}}
  debug: false
  update_interval: 2
